/* paineld-admin.page.scss */

ion-card {
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  