.barra-animada {
    width: 0; /* Começa com largura 0 */
    height: 100%; /* Altura igual à da barra */
    animation: fill 0.3s forwards; /* Animação de preenchimento */
}

@keyframes fill {
    to {
        width: 100%; /* Preenche até 100% */
    }
}
