<ion-content >

    <!-- Segunda metade com o conteúdo centralizado e com fundo e sombra -->
    <div class="container">
      <div class="w-2/3 p-8 shadow-lg shadow-black rounded-3xl flex flex-col text-center items-center justify-center">
        <strong><span>Milhões de músicas à sua espera</span></strong>
        <strong><span>Só no Daisuke</span></strong>
        <ion-input label="E-mail" label-placement="floating" fill="solid" placeholder="" class="w-5/6 mt-4"></ion-input>
        <ion-input type="password" label="Senha" label-placement="floating" fill="solid" placeholder="" class="w-5/6 mt-4"></ion-input>
        <ion-button shape="round" class="mt-6 w-5/6 h-12">Entrar</ion-button>
        <span class="py-3">Não tem uma conta? <a href="" class="text-purple-600">  Registre-se agora</a></span>
      </div>
    </div>
</ion-content>
